html {
    scroll-behavior: smooth
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.presentation {
    display: flex;
    flex-direction: column;
}

.slide {
    width: 99vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: beige;
    padding: 4vh;
}